* {
    box-sizing: border-box;
}
body  {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
    font-size: 24px;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:after, .menu:after, .float:after, .basket:after  {
    clear: both;
    display: block;
    content: "";
}
[class*="col-"]{
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo {
    margin-top: 7px;
}
.menu li {
    width: 25%;
    float: left;
    border-right: 1px solid #2c71b8;
}
.menu li:first-child{
    border-left: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;

}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}
.float{
    float: left;
}

.search{ background: rgba(0, 0, 0, 0);
    

}
.form{ display: block;
     margin-top: 5px;
    position: relative;
    
    width: 200px;
    height: 40px;
    margin-right: 0; 
    box-sizing: border-box;  
    
    
   
    
}
 input,  #search {
    outline: none;
    background: transparent;
}
 input{width: 100%;
    height: 40px;
    padding-left: 19px;
    border: 1px solid #2c71b8;
    color: #2c71b8;
    padding-top: 10px;
    

}
::-webkit-input-placeholder{
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;   
}

 #search {
  background-color: #2c71b8 !important;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  width: 30px;
  height: 30px;
  padding:0;
  
  
  
}
#search:before{
    content: url(images/icon\ \(4\).png);
    
}
.basket{
    box-sizing: border-box;
    float: right;
    margin-top: 5px;
    
    
}
.basket button{ box-sizing: border-box;
    
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    color: #2c71b8;
    display: block;
    background-color: #ffffff;
    margin: top;
}
.basket{ width: 40px;
    height: 40px;
    
    padding: 0;
    margin-right: 0;
    
}


.menu li:nth-child(2){
    position: relative;
}
.hiddenmenu{
    position: absolute;
    background-color: #2c71b8;
    opacity: 0;
    width: 200%;
    height: 315px;
    text-align: left;

    
}
.menu li:nth-child(2):hover .hiddenmenu{
    background-color: #2c71b8;
    opacity: 1;
}
.hiddenmenu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    text-align: left;
    padding-left: 21px;
}
.hiddenmenu li {
    background-color: #2c71b8;
    padding: 0;
    height: 14%;
    width: 100%;
    float: left;
    text-align: left;
}
/*.hiddenmenu li:hover .hiddenmenu li, .hiddenmenu a {
    background-color: #ffffff;
    color: #2c71b8;}*/
.hiddenmenu a:hover {
    background-color: #ffffff;   
    color: #2c71b8;
}





   



   
   

